html,
body {
  height: 100%;
}

body {
  position: relative;
  background-color: #333;
  color: #e7e7e7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.minifiedAnimatedSvg {
  background: url(./hot-spring-logo-minified.svg) center center no-repeat;
  max-width: 800px;
  width: 800px;
  min-height: 200px;
  max-height: 200px;

}

.originalSvg {
  background: url(./hot-spring-logo-un-minified.svg) center center no-repeat;
  max-width: 800px;
  width: 800px;
  min-height: 200px;
  max-height: 200px;
}

table {
  margin: 60px;
}

tr td:first-child {
  padding-right: 20px;
}

tr td {
  text-align: left
}



.container {
                display: -webkit-inline-box;
                display: inline-flex;
               position: relative;
            align-items: center;
        justify-content: center;
         flex-direction: row;
                  width: 100%;
                 margin: 10% 0;
             min-height: 200px;
            align-items: center;
          border-radius: 50px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
      -ms-border-radius: 50px;
       -o-border-radius: 50px;
}

.container.minifiedCont,
.container.unMinifiedCont {
                display: -webkit-inline-box;
                display: inline-flex;
               position: relative;
            align-items: center;
        justify-content: center;
         flex-direction: column;
                  width: 100%;
                 margin: 10% 0;
             min-height: 200px;
            align-items: center;
          border-radius: 50px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
      -ms-border-radius: 50px;
       -o-border-radius: 50px;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  background: #333;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  position: relative;
  z-index: 3;
}

h3 {
  text-align: center;
  margin-top: -20px;
  font-family: sans-serif;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #33aeae;
  -webkit-transition-duration: 2222ms;
  transition-duration: 2222ms;
  position: relative;
  z-index: 1;

}

a[download] {
  animation: 1s fadein;
  -webkit-animation: 1s fadein;
  animation-iteration-count: 1;
  line-height: 28px;
}

a:hover {
  text-decoration: underline;
  color: #ccc;
  -webkit-transition-duration: 2222ms;
  transition-duration: 2222ms;
}

/* unminified page positioning */


xmp {
  position: relative;
  overflow-y: scroll;
  max-width: 90vw;
  max-height: 50vh;
  margin: auto 5vw;
  line-height: 85px;
  background-color: #fff;
  color: #333;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;

}

@keyframes fadein {
  0% {
    font-size: 100%;
    -webkit-transition-duration: 2222ms;
    transition-duration: 2222ms;

  }

  50% {
    font-size: 120%;
  }

  100% {
    font-size: 100%;
    -webkit-transition-duration: 2222ms;
    transition-duration: 2222ms;

  }
}