html,
body {
  height: 100%;
}

body {
  position: relative;
  background-color: #333;
  color: #e7e7e7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.minifiedAnimatedSvg {
  background: url(./hot-spring-logo-minified.svg) center center no-repeat;
  max-width: 800px;
  width: 800px;
  min-height: 200px;
  max-height: 200px;

}

.originalSvg {
  background: url(./hot-spring-logo-un-minified.svg) center center no-repeat;
  max-width: 800px;
  width: 800px;
  min-height: 200px;
  max-height: 200px;
}

.container {
  display: -webkit-inline-box;
  display: inline-flex;
  position: relative;
  margin: auto -800px;
  top: 200px;
  left: 50%;

}

h1 {
  text-align: center;
  margin-top: 50px;
  font-family: sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  background: #333;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  position: relative;
  z-index: 3;
}

h3 {
  text-align: center;
  margin-top: -20px;
  font-family: sans-serif;
  font-weight: 200;
}
a {
  text-decoration: none;
  color: #33aeae;
  -webkit-transition-duration: 2222ms;
          transition-duration: 2222ms;
          position: relative;
          z-index: 1;
          
}

a[download] {
  animation:1s fadein;
  -webkit-animation:1s fadein;
  animation-iteration-count: 1;
  line-height: 28px;
}

a:hover {
  text-decoration: none;
  color: #333;
  -webkit-transition-duration: 2222ms;
          transition-duration: 2222ms;
}

/* unminified page positioning */
xmp.unminified {
  position: relative;
  max-height: 50vh;
  max-width: 1000px;
  margin: auto -25%;
  left: 50%;
  overflow-Y: scroll;

}

xmp.minified {
  position: relative;
  overflow-x: scroll;
  max-width: 1000px;
  margin: auto -25%;
  left: 50%;
  line-height: 85px;
}

@keyframes fadein {
  0% {
    font-size: 100%;
    -webkit-transition-duration: 2222ms;
    transition-duration: 2222ms;

  }
  50% {
    font-size: 120%;
  }
  100% {
    font-size: 100%;
    -webkit-transition-duration: 2222ms;
    transition-duration: 2222ms;

  }
}